.snakemake/
WorkingSpace*
workflow/log/
datas/
config_wf.yaml
workflow/run_medaka.sh
workflow/scripts/py_scripts/report_stats_final.py
workflow/scripts/py_scripts/report_stats_complementary2.py
__pycache__
env_wxpython/

